$open-sans: "open-sans", sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.4;

$spacing-unit: 30px;

$brand-color: #E60012;
$text-color: #4C4C4C;
$dark-color: #000000;
$light-dark-color: #222222;
$light-color: #FFFFFF;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$calorie-brand-color: #ea5520;
$workout-brand-color: #E60012;

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

@mixin media_query($device) {
	@if $device == phone {
		@media screen and (max-width: 600px) {
			@content;
		}
	}
	@else if $device == pad {
		@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
			@content;
		}
	}
}

@mixin clear_grid {
	float: none;
	display: block;
	width: 100%;
}

@mixin round_corner($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin product_banner($background) {
  text-align: center;
  img {
    width: 204px;
    height: 204px;
    margin-top: 40px;
  }
  h1 {
    color: #fff;
    margin: 30px 0 0 0;
  }
  h2 {
    font-weight: normal;
    color: #fff;
    margin: 0;
  }
  div {
		background: image-url($background) no-repeat center center;
		background-size: cover;
		height: 500px;
  }
	@include media_query(pad) {
    img {
      width: 164px;
      height: 164px;
      margin-top: 80px;
    }
  }
	@include media_query(phone) {
		h1 {
			font-size: em(40.709px);
		}
		h2 {
			font-size: em(28.786px);
		}
    img {
      width: 164px;
      height: 164px;
      margin-top: 80px;
    }
  }
}

section#product_screenshot {
  background-color: #fff;
  text-align: center;
  padding: 100px 0;
  img {
    max-width: 50%;
  }
	@include media_query(pad) {
		img {
			max-width: 90%;
		}
  }
	@include media_query(phone) {
    padding: 40px 0;
		img {
			max-width: 90%;
		}
	}
}

@mixin product_feature($color) {
  background-color: #fff;
  padding: 0 0 100px 0;
	div.item {
		@include column(3);
		h4 {
			margin: 0;
			color: $color;
			font-weight: normal;
			i {
				margin-right: 15px;
			}
		}
		p {
			margin: 18px 0 36px 0;
			color: $text-color;
      line-height: 160%;
		}
	}
	@include media_query(phone) {
    padding: 0 0 40px 0;
    div.item {
			@include clear_grid;
			h4 {
        text-align: center;
      }
    }
  }
}

@mixin product_buy($color) {
  background-color: #fff;
  text-align: center;
  padding: 0 0 100px 0;
	a {
		padding: 15px 5%;
		height: 60px;
		line-height: 60px;
		background-color: $color;
		color: #fff;
		font-size: em(31.98px);
    font-weight: bold;
		text-decoration:none;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
  @include media_query(phone) {
    padding: 0 0 40px 0;
    a {
  		font-size: em(28.786px);
  	}
  }
}

@mixin product_secondary($color) {
	background-color: #fff;
	text-align: center;
	padding: 0 0 100px 0;
	a {
		color: $color;
		font-size: em(22.62px);
		text-decoration: none;
	}
  @include media_query(phone) {
    padding: 0 0 40px 0;
    a {
      font-size: em(20.362px);
    }
  }
}

@mixin article_list {
	list-style: none;
	margin-bottom: 18px;
	color: $text-color;
	font-size: em(18px);
	a {
		margin-left: 10px;
		text-decoration: underline;
		color: $text-color;
		&:hover {
			color: $brand-color;
		}
	}
}
