---
title: Wuhoo
description: Awesome apps for healthy lifestyle
---

<% link_to "/" do %>
  <%= image_tag "logo.png" %>
<% end %>
<h1>Wuhoo</h1>
<h2>Awesome apps for healthy lifestyle</h2>
<i class="fa fa-home"></i>
<i class="fa fa-book"></i>
<i class="fa fa-support"></i>
